<div class="banner1" id="banner1">
    <div class="banner1_text center">
        <p class="bt1">오늘도 심심한 도현이에게</p>
        <p class="bt2">새 안부 묻기</p>
    </div>
</div> 
<div class="container">
  <br>
  <div class="row">
    <div class="col s0 m2 l3"></div>
    <div class="card col s12 m8 l6">
      <div class="card-content">
        <br><br>
        <div class="card-title center">예쁜말 고운말만 써주세요 :)</div>
        <br><br>
        <%= form_tag posts_path, multipart: true do %>
          <div class="row">
              <div class="input-field col s12 m6">
                <%= text_field_tag :name, nil, class: "materialize-textarea", id: "name"%>
                <label for="name">당신을 표현해줄 닉네임</label>
              </div>
              <div class="input-field col s12 m6">
                <%= password_field_tag :password, nil, class: "materialize-textarea", id: "name", required: true %>
                <label for="name">비밀번호 (4자리 이상)</label>
              </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                <%= text_area_tag :content, nil, class: "materialize-textarea", id: "content" %>
                <label for="content">안부를 곱게(?) 전해봐요</label>
              </div>
          </div>
          <div class="input-field">
            <div class="center">
              <%= button_tag "작성하기", class: "btn red lighten-2" %>
            </div>
          </div>
          <br><br>
        <% end %>
      </div>
    </div>
    <div class="col s0 m2 l3"></div>
  </div>
</div>